@font-face {
	font-family: "RumFont";
	src: url("../assets/rumFont.ttf");
}

* {
	font-family: "RumFont";
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto", serif;
}

body {
	background-image: url("../assets/background.jpg");
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: darken;
}

.header {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #bfdbfe;
}

.header > img {
	height: 80%;
}

.header > .logoText {
	font-family: "RumFont";
	font-size: 20px;
}

button.rules {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #fbfbfbbc;
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

dialog {
	width: 50%;
	height: 70%;
	background-color: #fbfbfb;
	border-radius: 5px;
	padding: 10px 20px;
	border: none;
}

dialog > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

dialog p {
	align-self: flex-start;
	font-family: "Roboto", serif;
	font-size: 20px;
	font-weight: bold;
}

.closeDialog {
	position: sticky;
	top: 10px;
	right: 10px;
	width: 40px;
	cursor: pointer;
	opacity: 0.5;
}

.closeDialog:hover {
	opacity: 1;
}

.gameContainer {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	min-width: 360px;
	width: 360px;
	display: flex;
	flex-wrap: wrap;
}

.rowNbr {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31.5px;
	height: 30px;
}

.columnNbr {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31.5px;
	height: 30px;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid white;
}

.cell.active:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}

.cell > img {
	width: 100%;
	height: 100%;
}

#hidden {
	display: none;
}
